@import "src/vars";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pics > img {
  transition: all;

  &.active-image {
    flex: 4;
    filter: invert(1);
  }
}
