@import "src/vars";

mat-grid-list {
  margin: 1rem;

  mat-grid-tile {
    &:hover {
      .blur-on-hover {
        filter: blur(8px) saturate(1.9);
      }

      .live-preview,
      mat-grid-tile-footer,
      .day-num {
        opacity: 1;
      }
    }

    .blur-on-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all $fast;
      z-index: -1;
    }

    .live-preview {
      background-color: $violet;
      color: white;
      font-size: 24px;
      opacity: 0;
      padding: .5rem 1rem;
      transition: all $norm, transform $fast;

      &:hover {
        background-color: $darkViolet;
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }
    }

    .day-num {
      background-color: $darkViolet;
      border-bottom-left-radius: 4px;
      color: white;
      padding: .5rem 1rem;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      transition: all $norm;
    }

    mat-grid-tile-footer {
      opacity: 0;
      transition: all $norm;
    }
  }
}
