<mat-grid-list
  [cols]="colCount"
  rowHeight="1.68:1"
  (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let project of projects; let day=index" (click)="goToProject(day)">
    <div style="background-image: url('assets/projs/{{day+1}}-{{project.path}}.png')" class="blur-on-hover"></div>
    <a class="live-preview" [routerLink]="project.path">Live Demo</a>
    <div>
      <div class="day-num">Day {{day + 1}}</div>
      <mat-grid-tile-footer>
        {{project.name}}
      </mat-grid-tile-footer>
    </div>
  </mat-grid-tile>
</mat-grid-list>
